html {
  scroll-behavior: smooth;
}

body {
    font-family: "manropelight" !important;
    font-size: 1rem;
background-color: #F8F8F8;
    line-height: 1.5;
}

.sustainability_col {
    .sustainabilityh2 {
      text-transform: none;
      font-family: 'helvetica';
      font-size: 20px;
      padding: 20vw 4vw 10vw 10vw;
    }
    .sustainabilityh1 {
      text-transform: none;
   font-family: 'helvetica';
        text-transform: uppercase;
      font-size: 5rem;
    }
    .sustainability_link {
      font-family: "manropeextralight";
      font-size: 12px;
      margin-bottom: 7vw;
    }

    h1 {
        margin-bottom: 0vw;
        margin-left: 10vw;
        margin-right: 10vw;
      }

  }




.boks1 {
    background-color: black;
    width: 200px;
    height: 240px;
       margin-right: 20px;
}


.boks2 {
    background-color: #F8F8F8;
    width: 200px;
    height: 240px;
    border: 1px solid black;
    margin-right: 20px;
}


.boks3 {
    background-color: white;
    width: 200px;
    height: 240px;
    margin-right: 20px;
}

.boks4 {
    background-color: #71F049;
    width: 200px;
    height: 240px;
}


.farver1, .farver2 {
    display: flex;
}

.boks5 {
    background-color: #edff00;
    width: 240px;
    height: 240px;
    margin-right: 20px;
}


.boks6 {
    background-color: #0900ff;
    width: 240px;
    height: 240px;
      margin-right: 20px;
}

.boks7 {
    background-color: #ff700b;
    width: 240px;
    height: 240px;
}


//Font families
@font-face {
  font-family: "manropebold";
  src: url("fonte/manrope/manrope-bold-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "manropeextrabold";
  src: url("fonte/manrope/manrope-extrabold-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manropeextralight";
  src: url("fonte/manrope/manrope-extralight-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manropelight";
  src: url("fonte/manrope/manrope-light-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manropemedium";
  src: url("fonte/manrope/manrope-medium-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manroperegular";
  src: url("fonte/manrope/manrope-regular-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manropesemibold";
  src: url("fonte/manrope/manrope-semibold-webfont.woff2") format("woff2"), url("fonte/manrope/manrope-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

figcaption {
font-size: calc(0.5rem + 0.3vw);}

/****************** MENU START *********************/
.menuheart,
.menucart {
  position: relative;
}

.menuheart span {
  position: absolute;
  top: 1vw;
  left: 3.1vw;
}

.menucart span {
  position: absolute;
  top: 1.3vw;
  left: 3vw;
}

.contentBx {
  position: relative;
  margin: 0px 0px;
}

.contentBx .label {
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: black;
  border-top: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
}

.contentBx:first-child .label {
  border-bottom: none;
}

.contentBx .label::before {
  content: "+";
  color: #71f049;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 400;
}
.contentBx.active .label::before {
  content: "-";
  font-size: 2.5em;
  font-weight: 300;
}

.contentBx .content {
  position: relative;
  background: white;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.header-wrapper {
  display: flex;
  margin-left: 20px;
  z-index: 300000;
  align-items: center;
}

.contentBx.active .content {
    width:100%;
  height: 220px;
  padding: 0px;
}
.logo {
  width: 30%;
}
.ui {
  display: flex;
  margin-left: 75px;
}
.ui img {
  width: 90%;
}

.menuheart,
.menucart {
  margin-left: 5px;
}
.contentBx.active .label {
  border-bottom: none;
  color: #71f049;
}

nav {
  position: fixed;
  z-index: 7000;
  top: 13vw;
  left: 0;
}

.account_link {
  padding: 10px !important;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  padding-left: 50px;

  z-index: 6000;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
font-size: 0.8rem;
  transition: color 0.3s ease;
}
.content ul {
  list-style: none;
}

#menuToggle a:hover {
  color: #71f049;
}

#menuToggle input {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  top: -84px;
  left: 310px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
    * Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 30px;
  height: 0.8px;
  margin-bottom: 7px;
  position: relative;
  top: -73px;
  left: 270px;
  background: #707070;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(43deg) translate(-2px, -1px);
  background: #232323;
}

/*
    * hide the middle one.
    */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
    * the last one should go the other direction
    */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-43deg) translate(0, -1px);
}

/*
    * Make this absolute positioned
    * at the top left of the screen
    */
#menu {
  position: absolute;
//  width: 100%;
  height: 100vh;
  margin: -50px 0 0 -50px;
  padding-top: 30px;
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 35px;
}

/*
    * And let's slide it in from the left
    */
#menuToggle input:checked ~ ul {
  transform: none;
}



/****************** BURGER MENU END *********************/
/****************** BURGER FILTER MENU START *******************/
#filter-menu {
  display: flex;

  margin: 4vw;
  position: absolute;
  top: 33vw;
  left: 0;
  z-index: 5000;
  .fm_contentBx {
    position: relative;
    // flex-basis: 30px;
    // flex-grow: 1;
    margin: 0px 0px;
  }

  .fm_contentBx .fm_label {
    position: relative;
    margin-right: 16px;
    cursor: pointer;
    color: black;
  }

  .fm_contentBx .fm_content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;

    background-color: white;
  }

  .fm_contentBx.active .fm_content {
    width: 85px;
    height: 250px;
    padding: 20px 0;
  }
  .fm_contentBx.active .fm_content li {
    padding-top: 10px;
    padding-left: 5px;
  }
}
/****************** BURGER FILTER MENU end *******************/

/****************** IPAD MENU START *********************/

@media only screen and (min-width: 768px) {
  nav {
    top: 4vw;
    padding-bottom: 20px;
  }
  .ui {
    z-index: 10000;
  }
  .logo {
    margin-left: 290px;
    width: 20%;
  }

  .menuheart span {
    position: absolute;
    top: 0.2vw;
    left: 1.1vw;
  }
  .menucart span {
    position: absolute;
    top: 0.2vw;
    left: 0.9vw;
  }

  .ui img {
    width: 70%;
  }

  .account_link {
    display: none;
  }

  .menuaccount {
    display: block;
  }

  #menu {
    margin: -115px 0 0 -15px;
    height: auto;
    transform: none;
    transition: none;
    display: flex;
    background-color: transparent;
  }

  .header-wrapper {
    justify-content: space-around;
  }

  .contentBx .label {
    border-bottom: none;
    border-top: none;
    padding-left: 20px;
    transition: color 0.3s ease;
  }

  .contentBx .label:hover {
    color: #71f049;
  }

  #menuToggle {
    input,
    span {
      display: none;
    }
  }

  .contentBx .label::before {
    content: "";
  }
  .contentBx.active .label::before {
    content: "";
  }

  .contentBx.active .content {
    padding-top: 60px;
    height: 320px;
    width: 100vw !important;
    z-index: 1000;
  }

  .contentBx:nth-child(2) .content {
    margin-left: -70px;
  }

  #menu li {
    padding: 10px 65px;
  }

  #filter-menu {
    width: 80%;
    top: 18vw;
    margin-left: 35px;
    flex-wrap: wrap;

    .fm_contentBx {
      flex-basis: 80px;
      flex-grow: 1;
    }

    .fm_contentBx.active .fm_content {
      width: 110px;
    }
  }

  /****************** IPAD MENU END *********************/
}
/****************** DESKTOP MENU START *********************/

@media only screen and (min-width: 1200px) {
  nav {
    top: 5vw;
  }

  #filter-menu {
    width: 50%;
    top: 12vw;
    margin-left: 4.5vw;

    .fm_contentBx.active .fm_content {
      width: 120px;
    }
  }
  .logo {
    width: 10%;
    margin-left: 460px;
  }
  .header-wrapper {
    justify-content: space-around;
  }

  .menuheart span {
    position: absolute;
    top: 0.1vw;
    left: 0.6vw;
  }
  .menucart span {
    position: absolute;
    top: 0.2vw;
    left: 0.5vw;
  }

  #menu {
        margin: -150px 0 0 38px;
  }

  /****************** DESKTOP MENU END *********************/
}


  /****************** BUTTON START *********************/

$buttonBgColor: #000000;
$buttonTextColor: #ffffff;
$buttonFontSizeSm: 12px;


button {
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  font-family: "manroperegular";
  text-transform: uppercase;
  border: none;
  padding: 10px;
  font-size: $buttonFontSizeSm;
  width: 100%;
}

.wp-block-buttons {
  font-family: "manroperegular";
  text-transform: uppercase;
  color: black;
  padding: 10px 0 40px 0;
}

.wp-block-button__link {
  color: black !important;
}

.newsletter {
  button {
    background-color: #e3e3e3;
  }
}

 /****************** BUTTON END *********************/





/* SUSTAINABILITY START*/

#sustainability {
  position: relative;
  margin: 24vw 0vw 0vw 0vw;
  .sustainability_picture_container {
    display: none;
  }
  .sustainability_h1 {
    margin-top: 6vw;
    margin-bottom: 2vw;
  }

  .sustainability_col {
      h2 {
          font-weight: 600;
          text-transform: uppercase;
          margin: 4vw;
      }

    p {
      margin: 4vw;

    }
  }
    .sustainability_image {
      position: relative;
      height: 100vh;
      width: auto;
    right: 100px;
    }
}


/*Sustainability ipad start*/
  @media only screen and (min-width: 768px) {

#sustainability {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;

    .sustainability_image {
      display: none;
    }

    .sustainability_picture_container,
    .sustainability_text_container {
      width: 50%;
    }

    .sustainability_picture_container {
      height: 100vh;
      position: relative;
      display: block;
      overflow: hidden;
    }

    .sustainability_col {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
        h1 {
        margin-bottom: 0vw;
        margin-left: 8vw;
        margin-right: 8vw;
      }
      h2 {
        margin-bottom: 0vw;
        margin-left: 7.7vw;
        margin-right: 8vw;
      }
      p {
        margin-top: 2vw;
        margin-left: 8vw;
        margin-right: 8vw;
      }
    }
    .sus_pic {
      position: relative;
      height: 100vh;
      width: auto;
            right: 200px;
    }
  }
}
  /*Sustainability ipad end*/

@media only screen and (min-width: 1200px) {
/*Sustainability desktop start*/
  #sustainability {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;

    .sustainability_picture_container {
      height: 100vh;
    }
    .sustainability_col {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin-bottom: 0vw;
        margin-left: 10vw;
        margin-right: 10vw;
      }
        h2 {
        margin-bottom: 0vw;
        margin-left: 9.8vw;
        margin-right: 10vw;
      }

      p {
        margin-top: 2vw;
        margin-left: 10vw;
        margin-right: 10vw;
      }
    }
    .sus_pic {
      position: relative;
      height: 100vh;
      right: unset;
    }
  }

}
/*Sustainability desktop end*/

.cnt__nav li {
    list-style: none;
    margin: 5px 0;
}



.cnt__nav a:hover {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition-delay: 0;
    color: greenyellow;
}

.cnt__nav a {
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
}

.newsletter_consent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.8rem;
}

.newsletter_consent_checkbox {
    width: 15px;
    height: 15px;
    border: .5px solid #000;
    flex-basis: 10px;
    flex-grow: .1;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

    .newsletter_consent_text {
    flex-basis: 80px;
    flex-grow: 4;
}

.breadcrumb {
    margin-bottom: 20px;
    span {
      margin-left: 5px;
      margin-right: 5px;
        font-size: 0.8rem;
    }
  }

.breadcrumb a {
    font-size: 0.8rem;
}


h1 {
font-size: calc(1.2rem + 5vw);
font-family: helvetica;
font-weight: 600;
    text-transform: uppercase;
line-height: calc(1.2rem + 5vw);
 padding: 100px 0 0 0;
}

h2 {
font-size: calc(1rem + 3vw);
font-family: helvetica;
text-transform: uppercase;
font-weight: 600;
color: black;
     padding: 100px 0 0 0;

}

h3 {
font-size: calc(0.8rem + 0.8vw);
font-family: helvetica;
font-weight: 400;
color: black;
}

h4 {
font-size: calc(0.6rem + 0.6vw);
font-family: helvetica;
font-weight: 400;
color: black;
}



a {
 color: black;
font-weight: 200;
text-decoration: none;
font-size: calc(0.8rem + 0.3vw);
}

p {
font-size: calc(0.8rem + 0.2vw);
}

a:hover {
color: #71f049;
}

/* CURSOR */
a {
cursor: crosshair;
}
